:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --page-white-color: #ffffff;
  --accent-color: #ff6c00;
  --hero-subtitle-color: rgba(157, 164, 189, 0.6);
  --hero-text-color: #9da4bd;
}

/* primary text color #555555
secondary text color #303030
page white color #FFFFFF
accent color #FF6C00
hero subtitle color rgba(157, 164, 189, 0.6);
hero text color #9DA4BD */

/* основной текст */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--page-white-color);
}

/* Утилиты */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

address {
  font-style: normal;
}

.accent {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* заголовки */

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title.primary {
  color: var(--secondary-text-color);
}

.title.secondary {
  color: var(--page-white-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle.primary {
  color: var(--secondary-text-color);
}

.subtitle.secondary {
  color: var(--hero-subtitle-color);
}

/* списки */

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ссылки */

.link {
  text-decoration: none;
}

.social-media {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--secondary-text-color);
}

.social-media:hover,
.social-media:focus {
  color: var(--accent-color);
}

/* кнопки */

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;

  padding: 12px 20px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  min-width: 160px;
}

.button:hover,
.button:focus {
  color: var(--page-white-color);
  background-color: var(--accent-color);
}

.button.primary {
  color: var(--page-white-color);
}

.button.secondary {
  color: var(--secondary-text-color);
}

/* хедер */

header {
  margin-bottom: -120px;
}

.logo {
  padding: 32px 0;
}

header .link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--page-white-color);
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
}

header .link:hover,
header .link:focus {
  color: var(--accent-color);
}

.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 131px;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 30px;
}

.container.flex {
  display: flex;
  align-items: center;
}

header .contact {
  text-transform: uppercase;
  margin-right: 40px;
  margin-left: 254px;
}

/* герой */

.hero {
  background-color: rgba(25, 28, 38, 0.2);
  padding-top: 120px;
}

.hero-title.title {
  font-size: 72px;
  line-height: calc(85 / 72);
  color: var(--page-white-color);
}

.hero .text {
  line-height: 1.67;
  color: var(--hero-text-color);
}

.hero-list {
  display: flex;
}
/* секция about */

.about .title {
  margin-bottom: 20px;
}

.about .text {
  line-height: 1.86;
  margin-bottom: 20px;
}

.about .text.secondary {
  font-size: 14px;
  margin-bottom: 42px;
}

.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.about-description {
  margin-right: 100px;
}

/* секция с прайс-листом */

.prices {
  background-color: rgba(25, 28, 38, 0.2);
}

.prices .title {
  margin-bottom: 44px;
}

.prices-content {
  display: flex;
  gap: 30px;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.price-list {
  width: 570px;
}

.price-list .text {
  font-size: 18px;
  line-height: 1.67;
  color: var(--hero-text-color);
}

.price {
  text-align: right;
}

.prices .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}

/* секция features */

.features .container {
  padding-left: 115px;
  padding-right: 85px;
}

.features-list li p:first-of-type {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.features-list .text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  gap: 30px;
}

.features-item {
  width: 170px;
  padding: 20px 24px;
  background: #F7F7F7;
}

.features-text {
  line-height: 1.67;
}

/* секция с барберами */

.barbers {
  background-color: #f7f7f7;
}

.name {
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  color: var(--secondary-text-color);
}

.barbers .description {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
}

/* галерея */

.gallery .subtitle {
  margin-bottom: 44px;
}

/* контакты */

.contacts {
  background-color: rgba(25, 28, 38, 0.2);
}

address .address.link {
  font-weight: 700;
}

address .link,
.contacts .text {
  font-weight: 400;
  line-height: 1.67;
  color: var(--hero-text-color);
}

address .email {
  text-decoration: underline;
}

/* футер */
