:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --page-white-color: #ffffff;
  --accent-color: #ff6c00;
  --hero-subtitle-color: rgba(157, 164, 189, 0.6);
  --hero-text-color: #9da4bd;
}

/* primary text color #555555
secondary text color #303030
page white color #FFFFFF
accent color #FF6C00
hero subtitle color rgba(157, 164, 189, 0.6);
hero text color #9DA4BD */

/* основной текст */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  background-color: var(--page-white-color);
}

/* заголовки */

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ссылки */

.link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

/* подзаголовок */

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* акцент */

.accent {
  color: var(--accent-color);
}

/* кнопки */

.button {
  box-sizing: border-box;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--page-white-color);
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  min-width: 160px;
  cursor: pointer;
}

.button.secondary {
  color: var(--secondary-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--page-white-color);
}

/* списки */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------ */
/* хедер */

.header {
  background: rgba(25, 28, 38, 0.2);
}

.header .container {
  display: flex;
  align-items: center;
}

header .link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--page-white-color);
  padding-bottom: 20px;
  padding-top: 20px;
}

.container > .link {
  margin-left: auto;
}

header .link:hover,
header .link:focus {
  color: var(--accent-color);
}

.navigation-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 131px;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 30px;
}

.container > .button {
  margin-left: 40px;
}

/* герой */

.hero {
  background: rgba(25, 28, 38, 0.2);
}

.hero .subtitle {
  color: var(--hero-subtitle-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.hero .title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--page-white-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.hero .text {
  color: var(--hero-text-color);
  margin: 0;
  width: 360px;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-color);
}

.hero-list {
  display: flex;
}

.hero-list .item + .item {
margin-left: 40px;
}

/* о нас */

.about .text {
  font-size: 14px;
  line-height: 1.86;
}

/* прайслист */

.prices .subtitle {
  color: var(--hero-subtitle-color);
}

.prices .title {
  color: var(--page-white-color);
}

.price-list {
  color: var(--hero-text-color);
}

/* наши особенности */

.features {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.features .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color);
}

/* наши барберы */

.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.barbers-list .description {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

/* галерея */

/* контактные данные */

.contacts .title {
  color: var(--page-white-color);
}

.contacts .list,
.contacts .text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.contacts .adress {
  font-weight: 700;
}

.contacts .email {
  text-decoration: underline;
}

.contacts .subtitle {
  color: var(--page-white-color);
}

footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}
