:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --page-white-color: #ffffff;
  --accent-color: #ff6c00;
  --hero-subtitle-color: rgba(157, 164, 189, 0.6);
  --hero-text-color: #9da4bd;
}

/* primary text color #555555
secondary text color #303030
page white color #FFFFFF
accent color #FF6C00
hero subtitle color rgba(157, 164, 189, 0.6);
hero text color #9DA4BD */

/* основной текст */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  background-color: var(--page-white-color);
}

/* заголовки */

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

/* ссылки */

.link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color);
}

/* подзаголовок */

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* акцент */

.accent {
  color: var(--accent-color);
}

/* кнопки */

.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: var(--page-white-color);
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}

/* ------------------------------------------------ */
/* хедер */

header .link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--page-white-color);
}

header .link:hover,
header .link:focus {
    color: var(--accent-color);
}

/* герой */

.hero .subtitle {
  color: var(--hero-subtitle-color);
}

.hero .title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--page-white-color);
}

.hero .text {
  color: var(--hero-text-color);
}

.hero .link:hover,
.hero.link:focus {
    color: var(--accent-color);
}

/* о нас */

.about .text {
  font-size: 14px;
  line-height: 1.86;
}

/* прайслист */

.prices .subtitle {
  color: var(--hero-subtitle-color);
}

.prices .title {
  color: var(--page-white-color);
}

.price-list {
  color: var(--hero-text-color);
}

/* наши особенности */

.features {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.features .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-text-color);
}

/* наши барберы */

.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.barbers-list .description {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

/* галерея */

/* контактные данные */

.contacts .title {
  color: var(--page-white-color);
}

.contacts .list,
.contacts .text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.contacts .adress {
    font-weight: 700;
}

.contacts .email {
    text-decoration: underline;
}

.contacts .subtitle {
    color: var(--page-white-color);
}