.button {
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid getColor('accent-color');
  min-width: 160px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 250ms $timingFunction, color 250ms $timingFunction;
  &:hover,
  &:focus {
    background-color: getColor('accent-color');
    color: getColor('primary-button-text-color');
  }
}

.button--centered {
  display: block;
  margin: 0 auto;
}

.button--primary {
  @extend %primaryButtonFont;
}

.button--secondary {
  @extend %secondaryButtonFont;
}

.menu-container__button {
  @media screen and (max-width: 767px) {
    color: getColor('secondary-text-color');
  }
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 48px;
  right: 31px;
}
