.features__container {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-direction: column-reverse;
  }
}

.features-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: -5px;
}

.features-list__item {
    width: calc((100% - 30px)/2);
    text-align: center;
    padding: 20px 32px;
    background-color: getColor('features-item-bg-color');
}

.features-list__item:nth-child(2n + 1) {
    margin-bottom: 35px;
    margin-right: 30px;
}

.features-list__item:nth-child(2n) {
    margin-top: 35px;
}

.features-list__number {
    @extend %featureNumberFont;
    margin-top: 0;
    margin-bottom: 6px;
}

.features-list__number::after {
    content: '+';
    @extend %featureNumberPseudoElementFont;
    vertical-align: text-top;
    margin-left: 2px;
}

.features-list__feature {
    @extend %featureFont;
    margin: 0;
}

.features__content {
    @media screen and (max-width: 1199px) {
        margin-bottom: 44px;
    }
}

.features__title {
    @extend %secondaryTitleFont;
    margin-top: 20px;
    margin-bottom: 20px;
}

.features__text {
    @extend %tertiaryTextFont;
    margin: 0;
}