.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 128px;
}

.logo {
    fill: getColor('mobile-logo-color');
}

.page-header__icon-burger {
    @extend %centered-flex;
}