.page-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    fill: getColor('mobile-logo-color');
    padding-top: 40px;
    padding-bottom: 40px;
}

.page-header__icon-burger {
    @extend %centered-flex;
}