.social-media-list {
  @extend %list;
  display: flex;
  align-items: center;
}

.social-media-list::before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: getColor('social-media-list-before-bg-color');
}

.social-media-list__hero {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: rotate(-90deg);
    transform-origin: left;
}

.social-media-list__item--primary:not(:last-child) {
    margin-right: 40px;
}

.social-media-list__link {
  @extend %link;
  transition: color 250ms $timingFunction;

  &:hover, &:focus {
    color: getColor('accent-color');
  }
}

.social-media-list__link--hero {
    @extend %page-headerSocial-mediaFont;
}
