.features-list {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 450px;
        margin-left: auto;
    }
}

.features-list__item {
    @media screen and (min-width: $tablet) {
        padding: 20px 40px;
    }
}

.features__content {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        width: 500px;
    }
}

.features__title {
    @media screen and (min-width: $tablet) {
        width: 430px;
    }
}