.menu-container {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.site-navigation {
    @media screen and (min-width: $tablet) {
       margin-right: 46px;
       flex-grow: 1;
    }
}

.site-navigation__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 20px;
    }
}

.page-header__thumb {
    
}

.page-header__contact {
    @extend %navigationFont;
    @extend %link;

    display: inline-block;
    transition: color 250ms $timingFunction;
    &:hover, &:focus {
        color: getColor('accent-color');
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}
.page-header__social-media-list {
    @media screen and (min-width: $tablet) {
        display: none;
    }

}