.page-header {
  @media screen and (min-width: $tablet) {
    min-height: 120px;
    padding-top: 32px;
  }
}

.page-header__container {
    @media screen and (min-width: $tablet) {
        justify-content: flex-start;
    }
}