.subtitle {
    margin: 0;
}

.subtitle::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: currentColor;
    vertical-align: super;
    margin-right: 20px;
}

.subtitle--primary {
    @extend %primarySubtitleFont;
}

.hero__subtitle {
    @extend %heroSubtitleFont;
}

.subtitle--secondary {
    @extend %secondarySubtitleFont;
}

.contacts-data__subtitle {
    @extend %page-footerSubtitleFont;
}

.contacts-data__subtitle::before {
    background-color: getColor('page-footer-subtitle-pseudo-element-color');
}