%link {
    text-decoration: none;
}

%list {
    padding: 0;
    margin: 0;
    list-style: none;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 479px) {
        max-width: 450px;
    }
    @media screen and (min-width: $mobile) {
        width: 450px;
    }
    @media screen and (min-width: $tablet) {
        width: 720px;
    }
    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

