%link {
    text-decoration: none;
}

%list {
    padding: 0;
    margin: 0;
    list-style: none;
}

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%background-image-position {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (max-width: 479px) {
        max-width: 450px;
    }
    @media screen and (min-width: $mobile) {
        width: 450px;
    }
    @media screen and (min-width: $tablet) {
        width: 720px;
    }
    @media screen and (min-width: $desktop) {
        width: 1200px;
    }
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;

    @media screen and (min-width: $tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: $desktop) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

