$colors: (
  'primary-text-color': #555555,
  'secondary-text-color': #303030,
  'accent-color': #ff6c00,
  'hero-primary-text-color': #9da4bd,
  'footer-primary-text-color': #9da4bd,
  'list-text-color': #9da4bd,
  'primary-title-color': #303030,
  'secondary-title-color': #ffffff,
  'secondary-subtitle-color': rgba(157, 164, 189, 0.6),
  'page-footer-secondary-text-color': #FFFFFF,
  'navigation-links-color': #FFFFFF,
  'mobile-logo-color': #FFFFFF,
  'primary-logo-color': #303030,
  'primary-button-text-color': #FFFFFF,
  'primary-bg-color': #ffffff,
  'secondary-bg-color': #191c26,
  'hero-bg-overlay-color': rgba(25, 28, 38, 0.2),
  'page-header-backdrop-bg-color': rgba(25, 28, 38, 0.2),
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

%primaryTextFont {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: getColor('primary-text-color');
}

%secondaryTextFont {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: getColor('primary-text-color');
  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.67   
  }
}

%tertiaryTextFont {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: getColor('primary-text-color');
}

%heroTextColor {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: getColor('hero-primary-text-color');
    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.67;
    }
}

%page-footerPrimaryFont {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: getColor('footer-primary-text-color');
}

%page-footerSecondaryFont {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: getColor('footer-primary-text-color');
}

%primaryTitleFont {
    font-family: 'Raleway';
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: getColor('secondary-text-color');
    @media screen and (min-width: $desktop) {
        font-size: 42px;
        line-height: 1.17;
    }
}

%secondaryTitleFont {
    font-family: 'Raleway';
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: getColor('secondary-text-color');
}

%tertiaryTitleFont {
    font-family: 'Raleway';
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: getColor('secondary-title-color');
    @media screen and (min-width: $tablet) {
        font-size: 42px;
        line-height: 1.17;
    }
}

%page-footerTitleFont {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: getColor('page-footer-secondary-text-color');
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

%heroTitleFont {
    font-family: 'Raleway';
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: getColor('secondary-title-color');
    @media screen and (min-width: $desktop) {
        font-size: 72px;
        line-height: 1.18;
    }
}

%primarySubtitleFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: getColor('secondary-text-color');
}

%heroSubtitleFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: getColor('secondary-subtitle-color');
    @media screen and (max-width: 767px) {
        letter-spacing: 0.1em;
    }
}

%secondarySubtitleFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: getColor('secondary-subtitle-color');
}

%page-footerSubtitleFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: getColor('page-footer-secondary-text-color');
}

%navigationFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: 0.1em;
    color: getColor('secondary-text-color');
    @media screen and (min-width: $tablet) {
        font-size: 12px;
        line-height: 1.33;
        color: getColor('navigation-links-color');
    }
}

%page-headerSocial-mediaFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: getColor('secondary-text-color');
    @media screen and (min-width: $tablet) {
        font-size: 11px;
        line-height: 1.36;
    }
}

%page-footerSocial-mediaFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: getColor('secondary-text-color');
}

%cardNameFont {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: getColor('secondary-text-color');
}

%cardPositionFont {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: getColor('accent-color');
}

%listTextFont {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: getColor('list-text-color');
    @media screen and (min-width: $tablet) {
        font-size: 18px;
        line-height: 1.67;
    }
}

%primaryButtonFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: getColor('primary-button-text-color');
}

%secondaryButtonFont {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: getColor('secondary-text-color');
}