.prices {
  @media screen and (min-width: $desktop) {
    background-image: url('../images/prices-background-image-desktop.png'),
      linear-gradient(getColor('prices-bg-color'), getColor('prices-bg-color'));
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) and (min-width: $desktop) {
  .prices {
    background-image: url('../images/prices-background-image-desktop@2x.png'),
      linear-gradient(getColor('prices-bg-color'), getColor('prices-bg-color'));
  }
}

.pricelist {
  @media screen and (min-width: $desktop) {
    display: flex;
    gap: 30px;
  }
}

.pricelist__list {
  @media screen and (min-width: $desktop) {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
    background-image: linear-gradient(180deg, getColor('price-list-bg-secondary-color-start') 0%, getColor('price-list-bg-secondary-color-end') 100%);
  }
}

.pricelist__list:nth-child(2n + 1) {
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(180deg, getColor('price-list-bg-color-start') 0%, getColor('price-list-bg-color-end') 100%);
  }
}

.pricelist__list:nth-child(2n) {
  @media screen and (min-width: $desktop) {
    background-image: linear-gradient(180deg, getColor('price-list-bg-secondary-color-start') 0%, getColor('price-list-bg-secondary-color-end') 100%);
  }
}
